<template>
    <div>
        <h3 class="heading">Add Customer</h3>
        <div>
            <form @submit.prevent="submit">
                <div class="form-group row">
                    <label for="firstName" class="col-sm-2 col-form-label">First Name *</label>
                    <div class="col-sm-8" :class="{ 'hasError' : errors.first('firstName')}">
                        <input type="text" name="firstName" v-validate="'required|alpha|max:50'"  placeholder="First Name" maxlength="50" class="form-control" autocomplete="off" autofocus="false" v-model="customer.firstName">
                        <span>{{ errors.first('firstName') }}</span>
                    </div>
                    <div class="col-sm-2"><DisplayValue :displayValue="customer.firstName"></DisplayValue></div>
                </div>
                <div class="form-group row">
                    <label for="lastName" class="col-sm-2 col-form-label">Last Name *</label>
                    <div class="col-sm-8" :class="{ 'hasError' : errors.first('lastName')}">
                        <input type="text" name="lastName" v-validate="'required|alpha|max:50'"  placeholder="Last Name" maxlength="50" class="form-control" autocomplete="off" autofocus="false" v-model="customer.lastName">
                        <span>{{ errors.first('lastName') }}</span>
                    </div>
                    <div class="col-sm-2"><DisplayValue :displayValue="customer.lastName"></DisplayValue></div>
                </div>
                <div class="form-group row">
                    <label for="age" class="col-sm-2 col-form-label">Age *</label>
                    <div class="col-sm-8" :class="{ 'hasError' : errors.first('age')}">
                        <input type="number" name="age" v-validate="'required|numeric|max:3'" placeholder="Age" class="form-control" autocomplete="off" v-model="customer.age">
                        <span>{{ errors.first('age') }}</span>
                    </div>
                    <div class="col-sm-2"><DisplayValue :displayValue="customer.age"></DisplayValue></div>
                </div>
                <div class="form-group row">
                    <label for="dateOfBirth" class="col-sm-2 col-form-label">Date of Birth *</label>
                    <div class="col-sm-8" :class="{ 'hasError' : errors.first('dateOfBirth')}">
                        <datepicker name="dateOfBirth" placeholder="MM-DD-YYYY" :format="format" v-model="customer.dateOfBirth" v-validate="'required|date_format:MM-DD-YYYY'"></datepicker>
                        <span>{{ errors.first('dateOfBirth') }}</span>
                    </div>
                    <div class="col-sm-2"><DisplayValue :displayValue="customer.dateOfBirth ? convert(customer.dateOfBirth) : ''"></DisplayValue></div>
                </div>
                <div class="form-group row">
                    <label for="gender" class="col-sm-2 col-form-label">Gender *</label>
                    <div class="col-sm-8" :class="{ 'hasError' : errors.first('gender')}">
                        <input type="radio" name="gender" v-validate="'required'" id="male" value="Male" v-model="genderPicked"> &nbsp;<label for="male" class="col-form-label gender-space">Male</label>
                        <input type="radio" name="gender" id="female" value="Female" v-model="genderPicked"> &nbsp;<label for="female" class="col-form-label">Female</label> <br />
                        <span>{{ errors.first('gender') }}</span>
                    </div>
                    <div class="col-sm-2"><DisplayValue :displayValue="genderPicked"></DisplayValue></div>
                </div>
                <div class="form-group row">
                    <label for="address" class="col-sm-2 col-form-label">Address *</label>
                    <div class="col-sm-8" :class="{ 'hasError' : errors.first('address')}">
                        <textarea name="address" v-validate="'required'" placeholder="Address" rows="3" class="form-control" autocomplete="off" v-model="customer.address"></textarea>
                        <span>{{ errors.first('address') }}</span>
                    </div>
                    <div class="col-sm-2"><DisplayValue :displayValue="customer.address"></DisplayValue></div>
                </div>
                <div class="form-group row">
                    <label for="emailid" class="col-sm-2 col-form-label">Email Address *</label>
                    <div class="col-sm-8" :class="{ 'hasError' : errors.first('email')}">
                        <input type="text" name="email" v-validate="'required|email'" placeholder="Email Address" maxlength="50" class="form-control" autocomplete="off" v-model="customer.email">
                        <span>{{ errors.first('email') }}</span>
                    </div>
                    <div class="col-sm-2"><DisplayValue :displayValue="customer.email"></DisplayValue></div>
                </div>
                <div class="form-group row">
                    <label for="phoneNumber" class="col-sm-2 col-form-label">Phone Number *</label>
                    <div class="col-sm-8" :class="{ 'hasError' : errors.first('phoneNumber')}">
                        <input type="number" name="phoneNumber" v-validate="'required|numeric|max:12'" placeholder="Phone Number" maxlength="12" class="form-control" autocomplete="off" v-model="customer.phoneNumber">
                        <span>{{ errors.first('phoneNumber') }}</span>
                    </div>
                    <div class="col-sm-2"><DisplayValue :displayValue="customer.phoneNumber"></DisplayValue></div>
                </div>
                <div class="form-group row">
                    <label for="country" class="col-sm-2 col-form-label">Country</label>
                    <div class="col-sm-8">
                        <select class="form-control" name="country" v-model="customer.countryId" @change="getCountryName">
                            <option value="">Select your country</option>
                            <option v-for="(country,index) in countries" v-bind:value="country.countryId" :key="index">
                                {{ country.countryName }}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-2"><DisplayValue :displayValue="countryName"></DisplayValue></div>
                </div>
                <div class="form-group row">
                    <label for="interestin" class="col-sm-2 col-form-label">Intrested In</label>
                    <div class="col-sm-8">
                        <input type="checkbox" name="interest" id="football" value="Football" v-model="interestIn"> &nbsp;<label for="football" class="col-form-label gender-space">Football</label>
                        <input type="checkbox" name="interest" id="basketball" value="Basketball" v-model="interestIn"> &nbsp;<label for="basketball" class="col-form-label gender-space">Basketball</label>
                        <input type="checkbox" name="interest" id="foosball" value="Foosball" v-model="interestIn"> &nbsp;<label for="foosball" class="col-form-label gender-space">Foosball</label>
                        <input type="checkbox" name="interest" id="hockey" value="Hockey" v-model="interestIn"> &nbsp;<label for="hockey" class="col-form-label gender-space">Hockey</label>
                        <br />
                    </div>
                    <div class="col-sm-2"><DisplayValue :displayValue="interestIn"></DisplayValue></div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input type="submit" value="Submit" name="submit" class="btn btn-primary">
                        <input type="reset" value="Reset" name="reset" class="btn btn-warning">
                        <router-link :to="{ name : 'Customers' }" class="btn btn-secondary">Back</router-link>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker';
import DisplayValue from '../components/generic/DisplayValue.vue';

export default {
    name: 'Customer',
    components: {
        Datepicker,
        DisplayValue
    },
    data() {
        return {
            countryName : '',
            genderPicked : '',
            interestIn : [],
            format: "MM-dd-yyyy",
            countries: [
                { countryId : '1', countryName : 'India'  },
                { countryId : '2', countryName : 'Australia' },
                { countryId : '3', countryName : 'London' },
            ],
            customer : {
                firstName : '',
                lastName : '',
                dateOfBirth : '',
                email : '',
                age : '',
                gender : '',
                address : '',
                phoneNumber : '',
                countryId : '',
                interestIn : ''
            },
        };
    },
    methods: {
        async submit() {
            await this.$validator.validate();
        },
        getCountryName(event) {
            if (!event.target.value)   {
                return this.countryName = '';
            } else {
                let country = this.countries.filter(row => row.countryId == event.target.value);
                if (country) {
                    return this.countryName = country[0].countryName;
                }
            }
        },
        convert: function(str) {
            var date = new Date(str),
                mnth = ("0" + (date.getMonth() + 1)).slice(-2),
                day = ("0" + date.getDate()).slice(-2);
            return [mnth, day, date.getFullYear()].join("-");
        }
    }
}
</script>
