<template>
    <div>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="row">
            <div class="col-md-6 pull-left">
                <h3>Customers</h3>
            </div>
            <div class="col-md-6">
                <button v-on:click="visible = !visible">&#9758;  Click here to view Emails</button> <router-link :to="{ name : 'Add Customer' }" class="btn btn-primary" style="float:right;">Add <i class="fa fa-plus"></i> </router-link>
            </div>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>            
                    <th>Id</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>DOB</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in items" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.firstName }} {{ item.lastName }}</td>
                    <td>{{ item.age }}</td>
                    <td>{{ item.dateOfBirth }}</td>
                    <td>
                        <p v-show="visible">{{ item.email }}</p>
                        <p v-show="!visible">---</p>
                    </td>
                    <td>{{ item.gender }} <span v-if="item.gender == 'Male'"><i class="fa fa-user pull-right"></i></span><span v-else><i class="fa fa-female pull-right"></i></span></td>
                    <td>{{ item.phone }}</td>
                    <td><i class="fa fa-edit"></i> &nbsp; <i class="fa fa-trash"></i></td>
                </tr>
            </tbody>
        </table>
        <div>
            <p>{{ count }}</p>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            items : [],
            visible: false
        }
    },
    created: function() {
        this.fetchItems();
    },
    computed: {
        count () {
            return 'The total count is : ' +  this.items.length;
        }
    },
    methods:{
        fetchItems() {
            let values = {
                data : [
                    {
                        id : '1',
                        firstName : 'Vijay',
                        lastName : 'Felix Raj',
                        dateOfBirth : '08-07-1995',
                        email : 'vijayfelixraj@gmail.com',
                        age : '23',
                        gender : 'Male',
                        address : 'Tharamani',
                        phoneNumber : '9876543231',
                        country : 'India',
                        intrest : 'Hockey, Basket Ball, Football, Chess, Caram, Batmittan'
                    }, 
                    {
                        id : '2',       
                        firstName : 'Arul',
                        lastName : 'Alex',
                        dateOfBirth : '09-06-1994',
                        email : 'arulalex96@gmail.com',
                        age : '24',
                        gender : 'Male',
                        address : 'Triplicane',
                        phoneNumber : '9867543433',
                        country : 'India',
                        intrest : 'Batmittan, PUBG'
                    }, 
                    {
                        id : '3',
                        firstName : 'Kalai',
                        lastName : 'Selvi',
                        dateOfBirth : '02-05-1992',
                        email : 'kali92@gmail.com',
                        age : '22',
                        gender : 'Female',
                        address : 'Trichy',
                        phoneNumber : '9867543412',
                        country : 'India',
                        intrest : 'Ko-Ko'
                    }
                ]
            };
            this.items = values.data;
        }
    }
}
</script>
