<template>
  <div id="app">
    <div class="header">
      <nav>
        <ul >
          <li class="nav-item">
            <router-link :to="{ name : 'Home' }">Home</router-link>
          </li>
          <li class="nav-item">
            <router-link :to="{ name : 'Customers' }">Customer</router-link>
          </li>
        </ul>
      </nav>
    </div>
    <main class="container">
      <router-view></router-view>
    </main>
  </div>
</template>

<script>
export default {
  name: 'app',
}
</script>
