/*-----------------------------------------------------------------------------
 *  File        : app.scss
 *  Created By  : Vijay Felix Raj C
 *  Created     : 26-06-2019
 *-------------------------------------------------------------------------------*/
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-align: center; */
    color: #2c3e50;
    /* margin-top: 60px; */
  }
  main {
    margin: 0 auto;
    /* padding: 30px; */
    background: #fff;
  }
  .header {
    background-color: #999;
    margin: 0 auto;
  }
  ul {
    padding: 10px;
    text-align: left;
  }
  li {
    display: inline-block;
    margin: 0 40px;
    border-right: 2px #fff solid; 
    text-transform: uppercase;
  }
  a:hover {
    color:blue;
    margin: 0 auto;
  }
  .nav-item {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 auto;
    text-align: left;
    border-right: 1px solid #bbb;
  }
  .nav-link {
    text-decoration : none;
    color : inherit;
  }
.heading {
    border-bottom: 1px #ddd solid;
}
.gender-space {
    padding-right: 6px;
}
div.hasError {
    color: red;
    input {
        border-color: red;
    }
}